.searched-movie{
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 0px 5px 1px rgb(223, 187, 30);
    background-color:rgb(19, 18, 18);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.searched-movie__poster-background{
    background: url('../../../../public/posters/poster-plug.jpg') 0 0/cover no-repeat; 
    background-color: red;
}

.searched-movie__poster-image{
    min-width: 80px;
    height: 100px;
    border-radius: 10px;
    /* background: url('../../../../public/posters/poster-plug.jpg') 0 0/cover no-repeat; */
}

.searched-movie__tittle{
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: rgb(240, 238, 238);
    font-weight: bold;
    transition: 0.3s;
}

.searched-movie__tittle:hover {
    color: rgb(223, 187, 30);
}


@media (max-width: 480px) {
    .searched-movie{
        gap: 10px;
        padding: 0.5rem 0.5rem;
    }
    .searched-movie__tittle{
        font-size: 12px;
    }
}