.favorite-movies {
    width: 100%;
    height: 100vh;
    color: rgb(221, 220, 220);
    background: url('../../../../public/background5.jpg') repeat;
}
.favorite-movies__background{
    background-color: rgba(0, 0, 0, 0.863);
    padding-top: 10vh;
    height: 90vh;
}

.favorite-movies__container {
    max-width: 1300px;
    margin: auto;
    box-shadow: 0px 0px 15px 3px rgba(181, 184, 187, 0.116);
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 30px;
    padding: 30px 25px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.favorite-movies__buttons-block{
    display: flex;
    justify-content: space-between;
}

.favorite-movies__tittle{
    color: #f4a900;
}

.favorite-movie__back-to-movies-page {
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    background-color: rgba(248, 248, 248, 0.068);
    box-shadow: 0px 0px 7px 2px rgba(201, 203, 206, 0.363);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.993);
    transition: 0.3s;
    align-self: flex-start;
}
.favorite-movie__back-to-movies-page:hover{
    background-color: #f4a900;
}

.favorite-movie__clear-favorites{
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    background-color: rgba(248, 248, 248, 0.068);
    box-shadow: 0px 0px 7px 2px rgba(201, 203, 206, 0.363);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.993);
    transition: 0.3s;
}

.favorite-movie__clear-favorites:hover{
    color: rgb(238, 55, 55);
}


.favorite-movies__movies-box {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    box-shadow: 0px 0px 10px 1px rgba(122, 122, 122, 0.63);
    padding: 15px 15px;
    border-radius: 15px;
    margin-bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.692);
}
.favorite-movies__movies-box::-webkit-scrollbar {
    height: 5px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: transparent;
    cursor: pointer;
}

.favorite-movies__movies-box::-webkit-scrollbar-thumb{
    background-color:  #f4a900;
    cursor: pointer;
}

.favorite-movies__empty {
    color: white;
    text-align: center;
}

@media (max-width: 480px) {
    .favorite-movies__container{
        height: auto;
        background-color: transparent;
    }
}