.selected-movie {
  color: rgb(221, 220, 220);
  background-color: rgb(17, 17, 17);
}

.selected-movie__container {
  max-width: 1300px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 0px 15px 3px rgba(181, 184, 187, 0.116);
  padding: 55px 25px 30px;
}


.selected-movie__poster-block {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.selected-movie__poster-block-background{
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 50px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.678) 30%, transparent 100%);
}

.selected-movie__poster-block-background-animation{
  background: linear-gradient(-45deg, #cacaca, #111111, #7c7c7c, #0f0f0f);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.selected-movie__poster-info {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.selected-movie__back-to-home{
  display: none;
  align-self: flex-start;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  background-color: rgba(248, 248, 248, 0.068);
  box-shadow: 0px 0px 7px 2px rgba(201, 203, 206, 0.363);
  margin-bottom: 3rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #f4a900;
  transition: 0.3s;
}


.selected-movie__back-to-movies-page:hover{
  background-color: #f4a900;
}


.selected-movie__poster-date {
  color: white;
}

.selected-movie__poster-tittle {
  font-size: 60px;
  color: #f4a900;
}

.selected-movie__add-to-favorites {
  margin-top: 1rem;
  align-self: flex-start;
  padding: 17px 20px;
  border: none;
  border-radius: 15px;
  background-color: #f4a900;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: rgba(236, 236, 236, 0.904);
}

.selected-movie__add-to-favorites:hover{
  box-shadow: 0px 0px 7px 2px rgba(201, 203, 206, 0.363);
}

.selected-movie__add-to-favorites-clicked{
  margin-top: 1rem;
  align-self: flex-start;
  padding: 17px 20px;
  border: none;
  border-radius: 15px;
  background-color: #2cb359;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: rgba(236, 236, 236, 0.904);
}

.selected-movie__add-to-favorites-clicked:hover{
  box-shadow: 0px 0px 7px 2px rgba(201, 203, 206, 0.363);
}

.selected-movie__description-block {
  padding: 30px 0px;
  display: flex;
  gap: 10rem;
  border-top: 1px solid rgb(177, 177, 177);
  border-bottom: 1px solid rgb(177, 177, 177);

}

.selected-movie__description-poster {
  flex: 1;
  min-width: 260px;
  min-height: 370px;
  border-radius: 10px;
}

.selected-movie__description-info {
  color: rgb(221, 220, 220);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 5;
  font-size: 1.2rem;
}

.selected-movie__rating {
  align-self: flex-start;
  background-color: white;
  padding: 10px 9px;
  font-weight: bold;
  border-radius: 50%;
  color: rgb(20, 20, 20);
}

.selected-movie__trailer {
  flex: 7;
  height: 400px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.63);
}
.selected-movie__trailer iframe{
  width: 100%;
  height: 100%;
}

.selected-movie__similar-movies {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.63);
  padding: 15px 15px;
  border-radius: 15px;
  margin-bottom: 3rem;
}

.selected-movie__similar-movies::-webkit-scrollbar {
    height: 5px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: transparent;
    cursor: pointer;
}

.selected-movie__similar-movies::-webkit-scrollbar-thumb{
  background-color:  #f4a900;
  cursor: pointer;
}

.selected-movie__similar-movies > * {
  min-width: 230px;
}

@media (max-width: 480px) {
  .selected-movie__poster-info{
    width: 100%;
  }
  .selected-movie__description-block{
    flex-direction: column;
    gap: 1rem;
  }
  .selected-movie__poster-tittle{
    font-size: 30px;
  }
  .selected-movie__back-to-home{
    display: block;
  }
}